In [ ]:
from urllib.request import urlopen
import requests
from bs4 import BeautifulSoup
import pandas as pd
from tabulate import tabulate

In [ ]:
data = []
for j in range(1,51):

    url=f'https://www.hollys.co.kr/store/korea/korStore2.do?pageNo={j}&sido=&gugun=&store='

    html = urlopen(url)
    soup = BeautifulSoup(html.read(), 'html.parser')

    results = soup.select('td.center_t')
    for i in range(0,55,6):
        try:
            area = results[i].text
            name = results[i+1].text
            address = results[i+3].text
            number = results[i+5].text

            data.append([name, area, address, number])
            
        except IndexError:
            pass

In [ ]:
# dataframe으로
df = pd.DataFrame(data, columns=['매장이름', '지역', '주소', '전화번호'])

In [ ]:
df.to_csv('hollys_branches.csv', index=False, encoding='utf-8-sig')
print('hollys_branches.csv 파일 저장완료.')

In [ ]:
print(tabulate(df.head(), headers='keys', tablefmt='psql'))

In [98]:
newdf=pd.read_csv(r'C:\Users\KDP15\Desktop\KDT6\hollys_branches.csv')

In [99]:
newdf.index=range(1, len(newdf) + 1)
print(newdf)

          매장이름          지역                                                 주소  \
1       분당미금점2  경기 성남시 분당구     경기도 성남시 분당구 미금일로90번길 24 (구미동) 구미동 35-3, B1F~1F
2      인천굴포천역점      인천 부평구  인천광역시 부평구 충선로209번길 49 (삼산동, 삼산노블시티프라자) 삼산동 463...
3     대구팔달교DT점       대구 서구                                    대구광역시 서구 팔달로 34
4    인천공항교통센터점       인천 중구  인천광역시 중구 공항로 272 (운서동, 인천공항) 인천국제공항 제1여객터미널 지하...
5      한국선원센터점       부산 중구  부산광역시 중구 충장대로9번길 66 (중앙동4가, 한국선원센터) (중앙동4가 74-...
..         ...         ...                                                ...
491       합정역점      서울 마포구                   서울특별시 마포구 양화로 36 (합정동 374-1) 할리스
492     부산달맞이점     부산 해운대구         부산광역시 해운대구 달맞이길 199, 2~3층 (중동 1488-14) 할리스
493        신림점      서울 관악구                                서울특별시 관악구 신림로 353-1
494       태평로점       서울 중구         서울특별시 중구 세종대로 64, 해남빌딩 1층 (태평로2가 70-5) 할리스
495        신촌점     서울 서대문구                 서울특별시 서대문구 연세로 34 (창천동 31-12)  할리스

              전화번호
1     031-713-7739
2    070-4400-4664
3     053-354-1212
4     032-743-3718
5    070-4070-7506
..             ...
491   02-6204-1234
492   051-731-3410
493    02-877-0019
494    02-755-7795
495    02-393-2004

[495 rows x 4 columns]

In [100]:
while True:
    a=input('검색할 매장의 지역을 입력하세요: ').split()
    if a[0]== 'quit':
        print('종료 합니다.')
        break
    else:
        try:
            newdf2=newdf[(newdf['주소'].str.contains(a[0]))&(newdf['주소'].str.contains(a[1]))][['매장이름','주소','전화번호']]
        except IndexError:
            newdf2=newdf[newdf['주소'].str.contains(a[0])][['매장이름','주소','전화번호']]
    newdf2.reset_index(drop=True, inplace=True)
    newdf2.index = newdf2.index + 1
    if len(newdf2) == 0 :
        print('검색된 매장이 없습니다.')
    else:
        print(f'검색된 매장 수: {len(newdf2.index)}')
        print(tabulate(newdf2, headers='keys', tablefmt='psql'))

검색된 매장 수: 1
+----+----------------+------------------------------------------------------------------------+---------------+
|    | 매장이름       | 주소                                                                   | 전화번호      |
|----+----------------+------------------------------------------------------------------------+---------------|
|  1 | 강릉안목해변점 | 강원특별자치도 강릉시 창해로14번길 34-1 (견소동) 견소동283-6,견소동132 | 070-7575-0184 |
+----+----------------+------------------------------------------------------------------------+---------------+
종료 합니다.