In [88]:
# 모듈 불러오기
import pandas as pd

In [89]:
# (1-01)
# 데이터 저장
data_ice={'이름':['메로나','비비빅','죠스바'],
          '가격':[300, 400, 250],
          '재고':[20, 3, 100]}

In [90]:
## dict ==> DataFrame
iceDF=pd.DataFrame(data_ice)
iceDF

    이름   가격   재고
0  메로나  300   20
1  비비빅  400    3
2  죠스바  250  100

In [91]:
# (1-02)
# 데이터 속성 6가지 출력
print(f'index : {iceDF.index}')
print(f'columns : {iceDF.columns}')
print(f'values : {iceDF.values}')
print(f'dtypes : {type(iceDF.dtypes)}\n{iceDF.dtypes}')
print(f'ndim : {iceDF.ndim}')
print(f'shape : {iceDF.shape}')

index : RangeIndex(start=0, stop=3, step=1)
columns : Index(['이름', '가격', '재고'], dtype='object')
values : [['메로나' 300 20]
 ['비비빅' 400 3]
 ['죠스바' 250 100]]
dtypes : <class 'pandas.core.series.Series'>
이름    object
가격     int64
재고     int64
dtype: object
ndim : 2
shape : (3, 3)

In [92]:
# (1-03)
# 가격데이터만 추출
print(iceDF['가격'])

0    300
1    400
2    250
Name: 가격, dtype: int64

In [93]:
# (1-04)
# 이름과 재고 데이터 추출
print(iceDF[['이름','재고']])

    이름   재고
0  메로나   20
1  비비빅    3
2  죠스바  100

In [94]:
# (1-05) 비비빅의 가격과 재고 데이터를 추출
iceDF.loc[1,['가격','재고']]

가격    400
재고      3
Name: 1, dtype: object

In [95]:
# (1-06) 메로나와 죠스바의 가격, 재고 데이터를 추출 하세요
iceDF.loc[0:1,['가격','재고']]

    가격  재고
0  300  20
1  400   3

In [96]:
# (1-07) 행인덱스를 일 이 삼으로 변경해 주세요
iceDF.index=['일','이','삼']
print(iceDF)

    이름   가격   재고
일  메로나  300   20
이  비비빅  400    3
삼  죠스바  250  100

In [97]:
# (1-08) 총가격 컬럼을 추가 후 0으로 값을 채우기
iceDF['총가격']=0
print(iceDF)

    이름   가격   재고  총가격
일  메로나  300   20    0
이  비비빅  400    3    0
삼  죠스바  250  100    0

In [98]:
# (1-09)'빵빠레', 550원, 10개 데이터를 추가해주세요
iceDF.loc['사']=['빵빠레','550','10','0']
print(iceDF)

    이름   가격   재고 총가격
일  메로나  300   20   0
이  비비빅  400    3   0
삼  죠스바  250  100   0
사  빵빠레  550   10   0

In [99]:
# (1-10) 비비빅의 재고 23으로 변경
iceDF.iloc[1,2]=23
print(iceDF)

    이름   가격   재고 총가격
일  메로나  300   20   0
이  비비빅  400   23   0
삼  죠스바  250  100   0
사  빵빠레  550   10   0

In [100]:
# (2-1) 데이터 저장
data=[[2000,3050,2050,1980],[7500,2050,2050,1980],[15450, 15050, 15550, 14900]]
dataDF=pd.DataFrame(data,columns=['시가','고가','저가','종가'])

print(dataDF)

      시가     고가     저가     종가
0   2000   3050   2050   1980
1   7500   2050   2050   1980
2  15450  15050  15550  14900

In [101]:
# (2-2) 데이터 저장후 속성6가지 출력
print(f'index : {dataDF.index}')
print(f'columns : {dataDF.columns}')
print(f'values : {dataDF.values}')
print(f'dtypes : {type(dataDF.dtypes)}\n{dataDF.dtypes}')
print(f'ndim : {dataDF.ndim}')
print(f'shape : {dataDF.shape}')

index : RangeIndex(start=0, stop=3, step=1)
columns : Index(['시가', '고가', '저가', '종가'], dtype='object')
values : [[ 2000  3050  2050  1980]
 [ 7500  2050  2050  1980]
 [15450 15050 15550 14900]]
dtypes : <class 'pandas.core.series.Series'>
시가    int64
고가    int64
저가    int64
종가    int64
dtype: object
ndim : 2
shape : (3, 4)

In [102]:
# (2-3) 행 인덱스를 2024-01-01, 2024-02-01, 2024-03-01로 변경
dataDF.index=['2024-01-01','2024-02-01','2024-03-01']
print(dataDF)

               시가     고가     저가     종가
2024-01-01   2000   3050   2050   1980
2024-02-01   7500   2050   2050   1980
2024-03-01  15450  15050  15550  14900

In [103]:
# (2-4) 열 인덱스를 open/high/low/close로 변경
dataDF.columns=[['open','high','low','close']]
print(dataDF)

             open   high    low  close
2024-01-01   2000   3050   2050   1980
2024-02-01   7500   2050   2050   1980
2024-03-01  15450  15050  15550  14900

In [105]:
# (2-5) 2024-02-01의 high, close데이터 추출
dataDF.loc['2024-02-01',['high','close']]

high     2050
close    1980
Name: 2024-02-01, dtype: int64

In [ ]:
# (2-6) 2024-04-01의 3200 3550 3000 2990 추가
dataDF.loc['2024-04-01']=[3200,3550,3000,2990]
print(dataDF)

             open   high    low  close
2024-01-01   2000   3050   2050   1980
2024-02-01   7500   2050   2050   1980
2024-03-01  15450  15050  15550  14900
2024-04-01   3200   3550   3000   2990

In [106]:
# (2-7) 2024-01-01 데이터삭제
dataDF.drop('2024-01-01')

             open   high    low  close
2024-02-01   7500   2050   2050   1980
2024-03-01  15450  15050  15550  14900

In [108]:
# (2-8) 2024-03-01의 low값을 14000으로 변경경
dataDF.loc['2024-03-01','low']=14000
print(dataDF)

             open   high    low  close
2024-01-01   2000   3050   2050   1980
2024-02-01   7500   2050   2050   1980
2024-03-01  15450  15050  14000  14900

In [109]:
print(dataDF)

             open   high    low  close
2024-01-01   2000   3050   2050   1980
2024-02-01   7500   2050   2050   1980
2024-03-01  15450  15050  14000  14900

In [110]:
# (2-9) average 칼럼을 추가 후 0값 추가
dataDF['average']=0
print(dataDF)

             open   high    low  close average
2024-01-01   2000   3050   2050   1980       0
2024-02-01   7500   2050   2050   1980       0
2024-03-01  15450  15050  14000  14900       0

In [111]:
# (2-10) Total행을 추가 0값채우기
dataDF['total'] =0
print(dataDF)

             open   high    low  close average total
2024-01-01   2000   3050   2050   1980       0     0
2024-02-01   7500   2050   2050   1980       0     0
2024-03-01  15450  15050  14000  14900       0     0

In [ ]:

# 3-01 판다스는 데이터를 분석하기 위한 패키지
# 3-02 데이터프레임
# 3-03 어레이
# 3-04 데이터프레임
# 3-05 numpy 배열
# 3-06 시리즈
# 3-07 시리즈
# 3-08 데이터프레임