### [그룹화 처리]
- 주제 : 타이타닉에서 선실의 등급에 따른 생존 비율을 분석

In [1]:
# [1] 모듈로딩
import pandas as pd
import df_util as util

In [2]:
# [2] 데이터 준비
file_name='titanic.csv'

In [3]:
# [3] csv-> dataFrame
DF=pd.read_csv(file_name)

In [4]:
# [4] 데이터 확인
util.checkDataFrame(DF, 'DF')

 DF
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB
[Index] : RangeIndex(start=0, stop=891, step=1)
[Columns] : Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')
[NDim] : 2

In [5]:
# [5] survived와 pclass로 분석
sur_pc=DF.loc[:,['survived','pclass']]

In [6]:
# [5-1] 결측치 확인
sur_pc.isna().sum()

survived    0
pclass      0
dtype: int64

In [7]:
# 중복값 확인
sur_pc.duplicated().sum()

885

In [8]:
group_sur=sur_pc.groupby('pclass')

In [9]:
print(group_sur.groups.keys())
print(group_sur.groups.values())

dict_keys([1, 2, 3])
dict_values([Index([  1,   3,   6,  11,  23,  27,  30,  31,  34,  35,
       ...
       853, 856, 857, 862, 867, 871, 872, 879, 887, 889],
      dtype='int64', length=216), Index([  9,  15,  17,  20,  21,  33,  41,  43,  53,  56,
       ...
       848, 854, 861, 864, 865, 866, 874, 880, 883, 886],
      dtype='int64', length=184), Index([  0,   2,   4,   5,   7,   8,  10,  12,  13,  14,
       ...
       875, 876, 877, 878, 881, 882, 884, 885, 888, 890],
      dtype='int64', length=491)])

In [11]:
resultDF=group_sur.agg(['count','mean','median','sum'])
resultDF

       survived
          count      mean median  sum
pclass
1           216  0.629630    1.0  136
2           184  0.472826    0.0   87
3           491  0.242363    0.0  119