In [59]:
import pandas as pd

In [60]:
dict_data ={'a':1,'b':2, 'c':3}

In [61]:
sr=pd.Series(dict_data)

In [62]:
print(type(sr))
print('\n')

<class 'pandas.core.series.Series'>

In [63]:
print(sr)

a    1
b    2
c    3
dtype: int64

In [64]:
list_data=['2019-01-02',3.14,'ABC',100,True]
sr = pd.Series(list_data)
print(sr)
print('\n')

# 인덱스 배열은 변수 idx에 저장. 데이터 값 배연은 변수 val에 저장
idx=sr.index
val=sr.values

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object

In [65]:
# 투플을 시리즈로 변환(index 옵션에 인덱스 이름을 지정)
tup_data =('영인', '2010-05-01', '여', True)
sr = pd.Series(tup_data, index=['이름','생년월일','성별','학생여부'])
print(sr)
print('\n')

# 원소를 1개 선택
print(sr[0])
print(sr['이름'])
print('\n')

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object


영인
영인

C:\Users\KDP15\AppData\Local\Temp\ipykernel_9904\3723522308.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr[0])

In [66]:
print(sr[[1,2]])
print('\n')
print(sr[['생년월일','성별']])
print('\n')

print(sr[1:2])
print('\n')
print(sr['생년월일':'성별'])

생년월일    2010-05-01
성별               여
dtype: object


생년월일    2010-05-01
성별               여
dtype: object


생년월일    2010-05-01
dtype: object


생년월일    2010-05-01
성별               여
dtype: object

C:\Users\KDP15\AppData\Local\Temp\ipykernel_9904\1507801306.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr[[1,2]])

In [67]:
#dict_data={'a': 1, 'b':2, 'c':3}
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

df=pd.DataFrame(dict_data)

print(type(df))
print('\n')
print(df)

<class 'pandas.core.frame.DataFrame'>


   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [68]:
df=pd.DataFrame([[15,'남','덕영중'], [17,'여','수리중']],
                index=['준서','예은'],
                columns=['나이','성별','학교'])

print("df ==============================\n",df)

print("df.index => ", df.index)
print("df.column =>", df.columns)

df ==============================
     나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중
df.index =>  Index(['준서', '예은'], dtype='object')
df.column => Index(['나이', '성별', '학교'], dtype='object')

In [69]:
df.index=['학생1', '학생2']
df.columns=['연령','남녀','소속']

print(df)
print('\n')

print(df.index)
print('\n')

print(df.columns)

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중


Index(['학생1', '학생2'], dtype='object')


Index(['연령', '남녀', '소속'], dtype='object')

In [70]:
df2=df.rename(columns={'나이':'연령','성별':'남녀','학교':'소속'})

df3=df.rename(index={'준서':'학생1','예은':'학생2'}, inplace=True)

print(f'df======{df3}\n{df}')
print(f'df2 ========\n{df2}')

df======None
     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중
df2 ========
     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

In [71]:
exam_data={'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]}

df=pd.DataFrame(exam_data,index=['서준','우현','인아'])
print(df)
print('\n')

df2=df[:]
df2.drop('우현',inplace=True)
print(df2)
print('\n')

df3=df[:]
df3.drop(['우현','인아'],axis=0,inplace=True)
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90


    수학  영어  음악   체육
서준  90  98  85  100

C:\Users\KDP15\AppData\Local\Temp\ipykernel_9904\1037229824.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop('우현',inplace=True)
C:\Users\KDP15\AppData\Local\Temp\ipykernel_9904\1037229824.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop(['우현','인아'],axis=0,inplace=True)

In [72]:
exam_data={'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]}

df=pd.DataFrame(exam_data,index=['서준','우현','인아'])
print(df)
print('\n')

df4=df[:]
df4.drop('수학',axis=1, inplace=True)
print(df4)
print('\n')

df5=df[:]
df5.drop(['영어','음악'],axis=1,inplace=True)
print(df5)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90


    수학   체육
서준  90  100
우현  80   90
인아  70   90

C:\Users\KDP15\AppData\Local\Temp\ipykernel_9904\2237200667.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.drop('수학',axis=1, inplace=True)
C:\Users\KDP15\AppData\Local\Temp\ipykernel_9904\2237200667.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5.drop(['영어','음악'],axis=1,inplace=True)

In [73]:
exam_data={'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]}

df=pd.DataFrame(exam_data,index=['서준','우현','인아'])
print("df =================\n", df)
print('\n')

label1=df.loc['서준']
position1=df.iloc[0]
print('label1=>',label1)
print('\n')
print('position1 =>', position1)
print('\n')

df =================
     수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


label1=> 수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64


position1 => 수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

In [74]:
# 행 인덱스를 사용하여 2개 이상의 행 선택
label2= df.loc[['서준','우현']]
position2=df.iloc[[0,1]]
print(label2)
print('\n')
print(position2)
print('\n')


label3=df.loc['서준':'우현']
position3=df.iloc[0:1]
print(label3)
print('\n')
print(position3)

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100

In [75]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98,89,95],
           '음악':[85,95,100],
           '체육':[100,90,90]}
df=pd.DataFrame(exam_data)
print(df)
print(type(df))
print('\n')

math1=df['수학']
print(math1)
print(type(math1))
print('\n')

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
<class 'pandas.core.frame.DataFrame'>


0    90
1    80
2    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>

In [76]:
english =df.영어
print(english)
print(type(english))

music_gym=df[['음악','체육']]
print(music_gym)
print(type(music_gym))

math2=df[['수학']]
print(math2)
print(type(math2))

0    98
1    89
2    95
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>
    음악   체육
0   85  100
1   95   90
2  100   90
<class 'pandas.core.frame.DataFrame'>
   수학
0  90
1  80
2  70
<class 'pandas.core.frame.DataFrame'>

In [77]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98,89,95],
           '음악':[85,95,100],
           '체육':[100,90,90]}
df=pd.DataFrame(exam_data)

df.set_index('이름',inplace=True)
print(df)

a=df.loc['서준','음악']
print(a)
b=df.iloc[0,2]
print(b)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
85
85

In [78]:
c=df.loc['서준',['음악','체육']]
print(c)
d=df.iloc[0,[2,3]]
print(d)
e=df.loc['서준','음악':'체육']
print(e)
f=df.iloc[0,2:]
print(f)
print('\n')

g=df.loc[['서준','우현'],['음악','체육']]
print(g)
h=df.iloc[[0,1],[2,3]]
print(h)
i=df.loc['서준':'우현','음악':'체육']
print(i)
j=df.iloc[0:2,2:]
print(j)

음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64


    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90

In [79]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98,89,95],
           '음악':[85,95,100],
           '체육':[100,90,90]}
df=pd.DataFrame(exam_data)
print(df)
print('\n')

df['국어'] =80
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


   이름  수학  영어   음악   체육  국어
0  서준  90  98   85  100  80
1  우현  80  89   95   90  80
2  인아  70  95  100   90  80

In [80]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98,89,95],
           '음악':[85,95,100],
           '체육':[100,90,90]}
df=pd.DataFrame(exam_data)
print(df)
print('\n')

df.loc[3]=0
print(df)
print('\n')

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0

In [81]:
df.loc[4] = ['동규',90,80,70,60]
print(df)
print('\n')

df.loc['행5'] =df.loc[3]
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0
4  동규  90  80   70   60


    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   인아  70  95  100   90
3    0   0   0    0    0
4   동규  90  80   70   60
행5   0   0   0    0    0

In [82]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98,89,95],
           '음악':[85,95,100],
           '체육':[100,90,90]}
df=pd.DataFrame(exam_data)

df.set_index('이름',inplace=True)
print(df)
print('\n')

df.iloc[0][3] = 80
print(df)
print('\n')

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  90
인아  70  95  100  90

C:\Users\KDP15\AppData\Local\Temp\ipykernel_9904\3272393393.py:12: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df.iloc[0][3] = 80
C:\Users\KDP15\AppData\Local\Temp\ipykernel_9904\3272393393.py:12: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df.iloc[0][3] = 80

In [83]:
df.loc['서준']['체육']=90
print(df)
print('\n')

df.loc['서준','체육']=100
print(df)
print('\n')

df.loc['서준',['음악','체육']] =50
print(df)
print('\n')

df.loc['서준',['음악','체육']] =100,50
print(df)

    수학  영어   음악  체육
이름
서준  90  98   85  90
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악  체육
이름
서준  90  98   50  50
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악  체육
이름
서준  90  98  100  50
우현  80  89   95  90
인아  70  95  100  90

C:\Users\KDP15\AppData\Local\Temp\ipykernel_9904\568791689.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df.loc['서준']['체육']=90

In [84]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98,89,95],
           '음악':[85,95,100],
           '체육':[100,90,90]}
df=pd.DataFrame(exam_data)
print(df)

df=df.transpose()
print(df)

df=df.T
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
      0   1    2
이름   서준  우현   인아
수학   90  80   70
영어   98  89   95
음악   85  95  100
체육  100  90   90
   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [85]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98,89,95],
           '음악':[85,95,100],
           '체육':[100,90,90]}
df=pd.DataFrame(exam_data)
print(df)
print('\n')

ndf=df.set_index(['이름'])
print(ndf)
print('\n')
ndf2=ndf.set_index('음악')
print(ndf2)
print('\n')
ndf3=ndf.set_index(['수학','음악'])
print(ndf3)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


     수학  영어   체육
음악
85   90  98  100
95   80  89   90
100  70  95   90


        영어   체육
수학 음악
90 85   98  100
80 95   89   90
70 100  95   90

In [86]:
dict_data={'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9],
           'c3':[10,11,12],'c4':[13,14,15]}
df = pd.DataFrame(dict_data, index=['r0','r1','r2'])
print(df)

new_index =['r0','r1','r2','r3','r4']
ndf = df.reindex(new_index)
print(ndf)

new_index =['r0','r1','r2','r3','r4']
ndf2 = df.reindex(new_index,fill_value=0)
print(ndf2)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN
    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

In [87]:
dict_data={'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9],
           'c3':[10,11,12],'c4':[13,14,15]}
df = pd.DataFrame(dict_data, index=['r0','r1','r2'])
print(df)

ndf=df.reset_index()
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15

In [88]:
dict_data={'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9],
           'c3':[10,11,12],'c4':[13,14,15]}
df = pd.DataFrame(dict_data, index=['r0','r1','r2'])
print(df)

ndf=df.sort_index(ascending=False)
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

In [89]:
dict_data={'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9],
           'c3':[10,11,12],'c4':[13,14,15]}
df = pd.DataFrame(dict_data, index=['r0','r1','r2'])
print(df)

ndf=df.sort_values(by='c1',ascending=False)
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

In [90]:
student1 = pd.Series({'국어':100, '영어':80, '수학':90})
print(student1)


percentage= student1/200

print(percentage)
print(type(percentage))

국어    100
영어     80
수학     90
dtype: int64
국어    0.50
영어    0.40
수학    0.45
dtype: float64
<class 'pandas.core.series.Series'>

In [91]:
student1 = pd.Series({'국어':100, '영어':80, '수학':90})
student2 = pd.Series({'수학':80, '국어':90, '영어':80})

print(student1)
print(student2)

addition=student1+student2
subtraction=student1-student2
multiplication=student1*student2
division=student1/student2
print(type(division))

국어    100
영어     80
수학     90
dtype: int64
수학    80
국어    90
영어    80
dtype: int64
<class 'pandas.core.series.Series'>

In [92]:
result=pd.DataFrame([addition, subtraction, multiplication, division], index=['덧셈','뺄셈','곱샘','나눗셈'])
print(result)

              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱샘   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0

In [93]:
sr_add=student1.add(student2,fill_value=0)
sr_sub=student1.sub(student2,fill_value=0)
sr_mul=student1.mul(student2,fill_value=0)
sr_div=student1.div(student2,fill_value=0)

result=pd.DataFrame([sr_add,sr_sub,sr_mul,sr_div], index=['덧셈','뺄셈','곱셈','나눗셈'])
print(result)

              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0

In [94]:
exam_data={'이름':['서준','우현','인아'],'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]}

df=pd.DataFrame(exam_data)
df.set_index('이름',inplace=True)
print(df)

df2=df*2
print(df2)
print(type(df2))

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
     수학   영어   음악   체육
이름
서준  180  196  170  200
우현  160  178  190  180
인아  140  190  200  180
<class 'pandas.core.frame.DataFrame'>

In [95]:
sub=df2 -df
print(sub)
print(type(sub))

add=df2 + df
print(add)
print(type(add))

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
<class 'pandas.core.frame.DataFrame'>
     수학   영어   음악   체육
이름
서준  270  294  255  300
우현  240  267  285  270
인아  210  285  300  270
<class 'pandas.core.frame.DataFrame'>