In [2]:
import pandas as pd
%pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\kdp15\anaconda3\envs\py39\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\kdp15\anaconda3\envs\py39\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
df=pd.read_excel(r'C:\Users\KDP15\Desktop\KDT6\EX_PANDAS06\숙제\남북한발전전력량.xlsx')

In [4]:
print(df)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]

In [5]:
df.loc[9]=0
df.loc[9,'전력량 (억㎾h)']='NaN'
df.loc[9,'발전 전력별']='신재생'
print(df)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -
9       NaN    신재생     0     0     0     0     0     0     0     0  ...     0

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -
9     0     0     0     0     0     0     0     0     0

[10 rows x 29 columns]

In [6]:
df['합계']=0
print(df)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2008  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4224
1       NaN     수력    64    51    49    60    41    55    52    54  ...    56
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2658
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1510
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   255
6       NaN     수력   156   150   142   133   138   142   125   107  ...   141
7       NaN     화력   121   113   105    88    93    88    88    86  ...   114
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -
9       NaN    신재생     0     0     0     0     0     0     0     0  ...     0

   2009  2010  2011  2012  2013  2014  2015  2016 합계
0  4336  4747  4969  5096  5171  5220  5281  5404  0
1    56    65    78    77    84    78    58    66  0
2  2802  3196  3343  3430  3581  3427  3402  3523  0
3  1478  1486  1547  1503  1388  1564  1648  1620  0
4     -     -     -    86   118   151   173   195  0
5   235   237   211   215   221   216   190   239  0
6   125   134   132   135   139   130   100   128  0
7   110   103    79    80    82    86    90   111  0
8     -     -     -     -     -     -     -     -  0
9     0     0     0     0     0     0     0     0  0

[10 rows x 30 columns]

In [7]:
df.iloc[4, 2:len(df.iloc[4])-6] = 0
df.iloc[8, 2:]=0
print(df)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2008  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4224
1       NaN     수력    64    51    49    60    41    55    52    54  ...    56
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2658
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1510
4       NaN    신재생     0     0     0     0     0     0     0     0  ...     0
5        북한     합계   277   263   247   221   231   230   213   193  ...   255
6       NaN     수력   156   150   142   133   138   142   125   107  ...   141
7       NaN     화력   121   113   105    88    93    88    88    86  ...   114
8       NaN    원자력     0     0     0     0     0     0     0     0  ...     0
9       NaN    신재생     0     0     0     0     0     0     0     0  ...     0

   2009  2010  2011  2012  2013  2014  2015  2016 합계
0  4336  4747  4969  5096  5171  5220  5281  5404  0
1    56    65    78    77    84    78    58    66  0
2  2802  3196  3343  3430  3581  3427  3402  3523  0
3  1478  1486  1547  1503  1388  1564  1648  1620  0
4     0     0     0    86   118   151   173   195  0
5   235   237   211   215   221   216   190   239  0
6   125   134   132   135   139   130   100   128  0
7   110   103    79    80    82    86    90   111  0
8     0     0     0     0     0     0     0     0  0
9     0     0     0     0     0     0     0     0  0

[10 rows x 30 columns]

In [8]:
def data_sum(num1):
    total=0
    for j in range(2,29):
        total=total+int(df.iloc[num1,j])
    return total

In [9]:

for i in range(len(df.iloc[:])):
    df.iloc[i,-1]=data_sum(i)


print(df)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2008  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4224
1       NaN     수력    64    51    49    60    41    55    52    54  ...    56
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2658
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1510
4       NaN    신재생     0     0     0     0     0     0     0     0  ...     0
5        북한     합계   277   263   247   221   231   230   213   193  ...   255
6       NaN     수력   156   150   142   133   138   142   125   107  ...   141
7       NaN     화력   121   113   105    88    93    88    88    86  ...   114
8       NaN    원자력     0     0     0     0     0     0     0     0  ...     0
9       NaN    신재생     0     0     0     0     0     0     0     0  ...     0

   2009  2010  2011  2012  2013  2014  2015  2016     합계
0  4336  4747  4969  5096  5171  5220  5281  5404  88523
1    56    65    78    77    84    78    58    66   1599
2  2802  3196  3343  3430  3581  3427  3402  3523  55136
3  1478  1486  1547  1503  1388  1564  1648  1620  31067
4     0     0     0    86   118   151   173   195    723
5   235   237   211   215   221   216   190   239   5914
6   125   134   132   135   139   130   100   128   3408
7   110   103    79    80    82    86    90   111   2506
8     0     0     0     0     0     0     0     0      0
9     0     0     0     0     0     0     0     0      0

[10 rows x 30 columns]

In [10]:
df.sum(numeric_only=True,axis=1)

0    88523
1     1599
2    55136
3    31067
4      723
5     5914
6     3408
7     2506
8        0
9        0
dtype: int64