In [8]:
# [1-1] 모듈로딩
import pandas as pd                 #데이터 분석용 모듈
import matplotlib.pyplot as plt     #데이터 시각화용 모듈

In [9]:
# 이건 연습
df2=pd.DataFrame([[1,1, pd.NA], [2,pd.NA,2], [pd.NA,3,3]])
df2

      0     1     2
0     1     1  <NA>
1     2  <NA>     2
2  <NA>     3     3

In [10]:
# -0번 컬럼을 이전 행 값으로 채우기
a=df2[[1,2]].ffill()
print(a, df2, sep='\n')

   1     2
0  1  <NA>
1  1     2
2  3     3
      0     1     2
0     1     1  <NA>
1     2  <NA>     2
2  <NA>     3     3

C:\Users\KDP15\AppData\Local\Temp\ipykernel_15748\1154122344.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  a=df2[[1,2]].ffill()

In [11]:
df2[[1,2]]=a

In [12]:
df2

      0  1     2
0     1  1  <NA>
1     2  1     2
2  <NA>  3     3